body {
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}
body > div {
  background-color: #fff;
  box-shadow: 0px 5px 10px #ccc;
  padding: 1em;
  margin: 1em;
  flex: 0 40%;
  min-height: 40vh;
}
body > div:last-of-type {
  flex: 0 80%;
}
